body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Full viewport height */
    width: 100vw; 
    background-image: url(https://images.unsplash.com/photo-1489590050212-a196d408b327?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDF8fHBlYWNlZnVsJTIwaGlnaCUyMHJlc29sdXRpb24lMjBpbWFnZXN8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 768px;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
    background-color: rgba(255,255,255,0.3);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    font-size: 2.5em;
    margin: 20px 0;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #6f9bc9;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}



